<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location = "application.properties"/>

<bean id="Horse"
      class="peaksot.animal.Horse">
    <property name="name" value ="${horse.name}"/>
     <property name="age" value ="${horse.age}"/>
</bean>
<bean id="Rabbit"
      class="peaksot.animal.Rabbit">
    <property name="breed" value="${rabbit.breed}"/>
    <property name="age" value="${rabbit.age}"/>
</bean>
    <bean id="person1"
          class="peaksot.Person">
        <property name="name" value="${person.name}"/>
        <property name="age" value="${person.age}"/>
        <property name="animal" ref="Horse"/>
    </bean>
    <bean id="person2"
          class="peaksot.Person">
        <property name="name" value="${person2.name}"/>
        <property name="age" value="${person2.age}"/>
        <property name="animal" ref="Rabbit"/>
    </bean>
</beans>
